.home {
    width: 100%;
    height: 100vh;
    background-color: var(--secundaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 500px;
}

.home h1 {
    font-weight: 500;
    color: var(--cinza-escuro);
}

.textoPrincipal {
    font-size: 3rem;
}

.textoDinamico {
    font-size: 1.8rem;
    min-width: 600px;
}

.home img {
    width: 500px;
}

.cursor {
    color: #000; 
    animation: blink 0.8s steps(2, start) infinite; 
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.homeApresentacao {
    margin: 3rem;
}

.secundario {
    display: flex;
    gap: 2rem;
    color: var(--cinza-escuro);
}

.homeApresentacao img {
    width: 500px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textoApresentacao {
    font-size: 30px;
    text-align: center;
    padding-bottom: 1rem;
}

.apresentacao strong {
    color: var(--primaria);
}

.conexao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.conexao strong {
    color: var(--primaria);
}

.textoConexao {
    font-size: 25px;
}

.textoConexaoInferior {
    font-size: 15px;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.linkIcone {
    border: 2px solid var(--cinza-escuro);
    padding: 0.8rem;
    border-radius: 10px;
    background-color: var(--cinza-escuro);
}

.icone {
    color: var(--primaria);
}

.linkIcone:hover {
    scale: 1.1;
    transition: 0.4s;
    border: 2px solid var(--primaria);
}