.header {
    width: 100%;
    height: 50px;
    background-color: var(--primaria);
    color: var(--terciaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 1.3rem;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    padding-right: 4rem;
    color: var(--terciaria);
    font-size: 1.1rem;
    font-weight: 500;
}

.header a:hover {
    color: var(--cinza-escuro);
}